# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Source code
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.xml text eol=lf
*.svg text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.mjs text eol=lf

# Documentation
*.txt text eol=lf
*.md text eol=lf

# Binary files
*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.pdf binary
*.gz binary
*.zip binary
*.7z binary
next-env.d.ts
